body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.huella {
    width: 45px;
    height: 45px;
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {

    /* EMPIEZA HEADER */

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
        background-color: white; /* Fondo del header */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto elevado */
    }

    /* Estilos para los elementos del menú */
    .menu {
        display: none;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white; /* Fondo semi-transparente */
        z-index: 9999; /* Asegura que el menú esté encima de todo */
        text-align: center;
        padding-top: 50%;
        list-style-type: none;
    }

    .menu li {
        margin-bottom: 20px;
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        text-decoration: none;   
    }

    .huella {
        width: 45px;
        height: 45px;
    }

    .navbar-brand {
        margin-left: 50px; /* Ajusta el margen derecho del icono de la pata */
    }

    /* Ocultar el checkbox */
    .menu-toggle input[type="checkbox"] {
        display: none;
    }

    /* Estilos para el menú de hamburguesa */
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10000; /* Asegura que esté encima del menú */
    }

    .toggle-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
    }

    .toggle-btn span {
        background-color: #000;
        width: 100%;
        height: 3px;
        transition: all 0.3s ease;
    }

    /* Animación del botón de hamburguesa */
    #toggle:checked + .toggle-btn span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    #toggle:checked + .toggle-btn span:nth-child(2) {
        opacity: 0;
    }

    #toggle:checked + .toggle-btn span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* Mostrar el menú desplegable al hacer clic en el botón de hamburguesa */
    #toggle:checked ~ .center .menu {
        display: block;
    }

    /* EMPIEZA MAIN */
    
    main {
        margin-top: 46px; /* Margen superior para compensar la altura del nav */
    }

    section{
        background-color: rgb(246, 240, 232);
    }

    .section-inicio{
        text-align: center; /* Alinea el contenido al centro */
        background-color: rgb(242, 233, 221);
    }

    .conocenos-btn {
        padding: 12px 65px; /* Espaciado interno */
        border-radius: 20px; /* Bordes redondeados */
        background-color: rgb(238, 126, 84); /* Color de fondo naranja */
        border: none; /* Sin borde */
        color: white; /* Color de texto blanco */
        font-size: 16px; /* Tamaño de fuente */
        cursor: pointer; /* Cursor al pasar sobre el botón */
        margin-bottom: 3%;
        transition: color 0.5s ease; /* Agregamos una transición al color */
    }
    
    .conocenos-btn:hover{
        color: #000;
    }

    /* SECTION CONOCENOS */

    .section-conocenos{
        padding: 0 0 5rem 0;
        
    }

    .perro{
        height: 100px;
        text-align: center;
    }

    .div-somos{
        margin: 5%;
        line-height: 1.6;
    }

    .div-somos h2{
        padding-bottom: 1rem;
    }

    .div-somos span{
        font-size: 18px;
        font-family: 'Libre Baskerville', serif;
    }

    .dueña{
        height: 210px;
        text-align: center;
    }

    .div-valores{
        margin: 5%;
        line-height: 1.6;
    }

    .div-valores h2{
        margin-top: 0;;
        margin-bottom: 2%;
        text-align: center;
    }

    .div-valores span{
        font-size: 18px;
        font-family: 'Libre Baskerville', serif;
    }

    /* SECTION RESERVAR */

    .section-reservar{
        height: 600px;
        padding-bottom: 50px; /* Añade espacio debajo de la sección */
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Ajusta el espacio entre el carrusel y el botón */
    }
    
    .btn-carrito {
        padding: 12px 65px; /* Espaciado interno */
        border-radius: 20px; /* Bordes redondeados */
        background-color: black;
        border: none; /* Sin borde */
        color: white; /* Color de texto blanco */
        font-size: 16px; /* Tamaño de fuente */
        cursor: pointer; /* Cursor al pasar sobre el botón */
        margin-top: 20px; /* Ajusta el espacio entre el botón y el carrusel */
    }

    /* SECTION CLIENTES */
    

    /* SECTION CONTACTO */

    .section-contacto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }

    .div-redes{
        text-align: center;
    }
    
    .div-redes h2{
        font-family: "amatic sc";
        font-size: 60px;
    }
    
    .div-redes a{
        padding-left: 1rem;
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: "amatic sc";
        font-weight: bold;
    }
    
    .div-redes i{
        padding-left: 0.2rem;
        font-size: 1.1rem;
    }

    /* SECTION COMENTARIOS */

    .div-comentarios{
        text-align: center;
        padding: 20px;
    }
    
    .div-comentarios h2{
        font-family: "amatic sc";
        font-size: 60px;
    }
    
    .div-form-comentarios{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    .div-form-comentarios form {
        width: 300px;
        
    }
    
    .div-form-comentarios .form-group {
        margin-bottom: 10px;
    }
    
    .div-form-comentarios input[type="text"],
    input[type="email"],
    .div-form-comentarios textarea {
        width: 100%;
        padding: 7px;
        border: 0px solid #ccc;
        box-sizing: border-box;
    }
    
    input::placeholder, textarea::placeholder, input[type="email"]::placeholder {
        font-size: 13px; /* Tamaño de la fuente */
        color: rgb(195, 193, 193); /* Color del texto */
    }
    
    .div-form-comentarios button {
        background-color: coral;
        color: #fff;
        padding: 5px 30px;
        border: none;
        cursor: pointer;
    }
    
    .div-form-comentarios button:hover{
        color: black;
    }

    /* SECTION INFO */

    .section-info{
        display: flex;
        padding: 20px;
        background-color: black;
        align-items: center;
        flex-direction: column;
    }
    
    .section-info a{
        text-decoration: none;
        color: gray;
        font-size: 1rem;
        line-height: 2rem;
    }
}
